# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
php:

  cli:
      # PHP CLI-specific php.ini configuration
    ini: {}
    # Default php.ini configuration
  config: {}
    # PHP-FPM settings
  fpm:
      # PHP-FPM global configuration
    config:
      error_log: /var/log/php{version}-fpm.log
      pid: /run/php/php{version}-fpm.pid
      # Whether to install php-fpm
    enable: true
      # PHP-FPM-specific php.ini configuration.
      # On systems that do not support a separate file, this will be rendered
      # into each pool via php_value/php_flag. Overrides per pool are possible.
    ini: {}
      # Mapping of pool name to mapping of pool configuration (conf: val).
      # Special pool configuration values are `ini` (default php.ini configuration)
      # and `ini_force` (php.ini configuration that cannot be overridden via `ini_set`).
    pools: {}
      # Example:
    # www:
    #   pm.max_children: 53
    #   pm.start_servers: 13
    #   pm.min_spare_servers: 13
    #   pm.max_spare_servers: 39
    #   env[HOSTNAME]: $HOSTNAME
    #   ini:
    #     memory_limit: 512M
    #   ini_force:
    #     max_execution_time: 360
      # Remove the default pool
    remove_default_pool: true
      # php-fpm service settings
    service:
        # Apply some hardening to the unit file
      harden: true
        # service unit `RequiresMountsFor=`
      requires_mount: []
        # service unit `Wants=`
      wants: []
    # On Debian, if this is false, do not install recommends
  module_install_recommends: false
    # List of PHP module packages to install. Names will be rendered
    # via a lookup in lookup:pkg, so `mbstring` would be rendered
    # to `php8.3-mbstring`, for example (depending on the OS).
  modules: []
    # The exact major.minor PHP version to install
  version: '8.1'

  lookup:
    cli:
      ini: /etc/php/{version}/cli/conf.d/50-salt.ini
    extra_pkgs: []
    fpm:
      config: /etc/php/{version}/fpm/php-fpm.conf
      ini: /etc/php/{version}/fpm/conf.d/50-salt.ini
      pool_defaults:
        group: www-data
        listen: /run/php/fpm-{name}.sock
        listen.group: www-data
        listen.owner: www-data
        pm: dynamic
        pm.max_children: 5
        pm.max_spare_servers: 3
        pm.min_spare_servers: 1
        pm.start_servers: 2
        user: www-data
      pools: /etc/php/{version}/fpm/pool.d
      service:
        name: php{version}-fpm
        unit: /etc/systemd/system/{name}.service.d/override.conf
    pkg:
      default: php{version}-{name}
      fpm: php{version}-fpm
      php: php{version}
    repos_req_pkgs: []

  tofs:
      # The files_switch key serves as a selector for alternative
      # directories under the formula files directory. See TOFS pattern
      # doc for more info.
      # Note: Any value not evaluated by `config.get` will be used literally.
      # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family

      # All aspects of path/file resolution are customisable using the options below.
      # This is unnecessary in most cases; there are sensible defaults.
      # Default path: salt://< path_prefix >/< dirs.files >/< dirs.default >
      # I.e.: salt://php/files/default
      # path_prefix: template_alt
      # dirs:
      #   files: files_alt
      #   default: default_alt
      # The entries under `source_files` are prepended to the default source files
      # given for the state
    source_files:
      PHP configuration is managed:
        - 'example_alt.tmpl'
        - 'example_alt.tmpl.jinja'
