{%- macro render_setting(var, val) %}
{%-   if val is string and "=" in val %}
{{ var }} = "{{ val }}"
{%-   elif val is number or val is string %}
{{- var }} = {{ val }}
{%-   elif val is iterable %}
{%-     if var == "error_reporting" %}
{{- var }} = {{ val | join("&") }}
{%-     elif var == "extension" %}
{{- var }} = {{ val | join("\nextension = ") }}
{%-     else %}
{{- var }} = {{ val | join(",") }}
{%-     endif %}
{%-   endif %}
{%- endmacro -%}

; This file is managed by Salt.
; Manual changes might be overwritten.

{% for key, val in php | traverse(lookup_key, {}) | dictsort %}
{%-   if val is not mapping %}
{{ render_setting(key, val) }}
{%-   else %}

[{{ key }}]
{%-     for setting, value in val.items() %}
  {{ render_setting(setting, value) | indent(2) }}
{%-     endfor %}
{%-   endif %}
{%- endfor %}
