{%- macro render_setting(var, val) %}
{%-   if val is number or val is string %}
{{- var }} = {{ val }}
{%-   elif val is iterable %}
{%-     if "error_reporting" == var %}
{{- var }} = {{ val | join("&") }}
{%-     elif "extension" == var %}
{{- var }} = {{ val | join("\nextension = ") }}
{%-     else %}
{{- var }} = {{ val | join(",") }}
{%-     endif %}
{%-   endif %}
{%- endmacro -%}

; This file is managed by Salt.
; Manual changes might be overwritten.

[global]
{%- for setting, value in php.fpm.config | dictsort %}
{%-   if setting in ["pid", "error_log"] %}
{%-     set value = value.format(version=php.version) %}
{%-   endif %}
{{ render_setting(setting, value) }}
{%- endfor %}

; Pool Definitions

include={{ php.lookup.fpm.pools.format(version=php.version) | path_join("*.conf") }}
